@model IEnumerable<OnlineBookingApp.Models.Booking.CarRental>

<h2>Car Rental Booking List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form method="get" action="@Url.Action("Index")">
    <div class="form-group">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm" class="form-control" value="@ViewBag.SearchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <!-- Table headers -->
    <thead>
        <tr>
            <th>Model</th>
            <th>Company</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows -->
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CarModel)</td>
                <td>@Html.DisplayFor(modelItem => item.RentalCompany)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarRentalId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CarRentalId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CarRentalId" class="btn btn-danger">Delete</a>
                    <a asp-action="BookingConfirmation" asp-route-id="@item.CarRentalId" class="btn btn-light">Book</a>

                </td>
            </tr>
        }
    </tbody>
</table>
